# MongoDB connection string
MONGO_URI=mongodb://localhost:27017/aadhar-otp

# Twilio credentials
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token

# Server port
PORT=3000

# Secret key for JWT or other purposes (if needed)
SECRET_KEY=your_secret_key
